body {
  margin: 0;
  padding: 0;
  background-color: #333333;
  color: #ffffff;
  font-family: Arial, sans-serif;
}

button {
  background-color: #1e1e1e;
  color: #ffffff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #333333;
}

input {
  background-color: #1e1e1e;
  color: #ffffff;
  border: 1px solid #333333;
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
}

div {
  padding: 10px;
}

h1, h2 {
  color: #ffffff;
}
