/* Style dla całej aplikacji */
.app {
  background-color: #333333; /* Ciemniejszy odcień szarości */
  color: #ffffff; /* Biały kolor tekstu */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* Dostosuj do wysokości nawigacji */
}

/* Główna sekcja */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Kontener na monstra */
.monsterContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.monsterDisplay {
  border: 3px solid #000000; /* Czarna ciągła linia o grubości 3px */
  border-radius: 10px; /* Zaokrąglone brzegi */
  padding: 1rem; /* Dostosuj odstęp */
  margin: 15px;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3); /* Lekki cień na zewnątrz */
}


/* Tytuł */
.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
  text-align: center;
}

/* Style dla urządzeń mobilnych */
@media (max-width: 600px) {
  .main {
    padding-top: 100px; /* Dostosuj do wysokości nawigacji na urządzeniach mobilnych */
  }

  .monsterContainer {
    flex-direction: column;
    align-items: center;
  }
}