/* styles/Home.module.css */

/* Style dla całej aplikacji */
.app {
  background-color: #333333; /* Ciemniejszy odcień szarości */
  color: #ffffff; /* Biały kolor tekstu */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 80px; /* Dostosuj do wysokości nawigacji */
}

/* Główna sekcja */
.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0 10px; /* Dodaj padding po bokach */
}

/* Kontener na monstra */
.monsterContainer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  max-width: 1200px;
}

.monsterDisplay {
  border: 3px solid #000000; /* Czarna ciągła linia o grubości 3px */
  border-radius: 10px; /* Zaokrąglone brzegi */
  padding: 1rem; /* Dostosuj odstęp */
  margin: 15px;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
  text-align: center; /* Wyśrodkowanie tekstu */
}

/* Tytuł */
.title {
  margin: 3rem 0;
  line-height: 1;
  font-size: 2.5rem;
  text-align: center;
}

/* Stylizacja obrazka */
.monsterImage {
  width: 100%; /* Obrazek zajmie 100% szerokości swojego kontenera */
  height: auto; /* Automatyczna wysokość proporcjonalna */
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5); /* Przykładowy efekt cienia */
}
/* Stylizacja kontenera obrazka */
.monsterImageContainer {
  width: 92%; /* Ustaw szerokość kontenera na 92% */
  height: 300px; /* Ustaw wysokość kontenera */
  overflow: hidden; /* Ukryj elementy, które wykraczają poza kontener */
  border-radius: 10px; /* Zaokrąglone brzegi */
  margin: 0 auto 10px auto; /* Automatyczny margines: góra/dół - 0, lewo/prawo - auto */
  position: relative; /* Ustaw pozycję względną */
  display: flex; /* Ustawienie kontenera na flexbox */
  justify-content: center; /* Wyśrodkowanie zawartości w poziomie */
  align-items: center; /* Wyśrodkowanie zawartości w pionie */
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.5);
}

/* Stylizacja obrazka wewnątrz kontenera */
.monsterImageContainer .monsterImage {
  width: 100%; /* Obrazek zajmie 100% szerokości swojego kontenera */
  height: auto; /* Automatyczna wysokość proporcjonalna */
  object-fit: cover; /* Dopasowanie obrazka, aby wypełnił cały kontener */
  border-radius: 10px; /* Zaokrąglone brzegi */
}

.additionalInfo {
  margin-top: 20px;
  font-size: 16px;
  color: whitesmoke;
}

.additionalInfo a {
  color: #0070f3;
  text-decoration: none;
}

.additionalInfo a:hover {
  text-decoration: underline;
}

.borderedSection {
  border: 3px solid #000000; /* Czarna ciągła linia o grubości 3px */
  border-radius: 10px; /* Zaokrąglone brzegi */
  padding: 1rem; /* Dostosuj odstęp */
  margin: 15px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
}

/* Stylizacja elementów faucet */
.faucetSection {
  width: 500px; /* Ustaw szerokość sekcji na 100% */
  max-width: 100%;
}

.faucetItem {
  margin: 10px 0; /* Dodaj margines do każdego elementu */
  padding: 10px; /* Dodaj padding do każdego elementu */
  box-sizing: border-box; /* Uwzględnij padding i border w szerokości i wysokości elementu */
  width: 100%; /* Ustaw szerokość na 100% */
}

.claimButton {
  width: calc(100% - 20px) !important; /* Ustaw szerokość przycisku na 100% minus marginesy */
  padding: 10px; /* Dodaj padding */
  font-size: 16px; /* Dostosuj rozmiar czcionki */
  word-break: break-word; /* Złam słowa, aby zapobiec ich wychodzeniu poza ekran */
  margin: 0 10px !important; /* Dodaj marginesy po bokach */
}

/* Stylizacja tekstu w faucetItem */
.faucetItem p {
  word-wrap: break-word; /* Złam długie słowa, aby nie wychodziły poza ekran */
  font-size: 14px; /* Zmniejsz rozmiar czcionki dla tekstu */
}

/* Style dla urządzeń mobilnych */
@media (max-width: 600px) {
  .main {
    padding-top: 100px; /* Dostosuj do wysokości nawigacji na urządzeniach mobilnych */
  }

  .monsterContainer {
    flex-direction: column;
    align-items: center;
  }

  .monsterDisplay {
    width: 90%; /* Dostosuj szerokość do ekranu mobilnego */
    margin: 10px 0; /* Zmniejsz margines */
  }

  .faucetItem {
    width: 100%; /* Ustaw szerokość na 100% */
    margin-bottom: 20px; /* Dodaj margines na dole */
  }

  .claimButton {
    width: calc(100% - 20px) !important; /* Ustaw szerokość przycisku na 100% minus marginesy */
    padding: 10px; /* Dodaj padding */
    font-size: 16px; /* Dostosuj rozmiar czcionki */
    word-break: break-word; /* Złam słowa, aby zapobiec ich wychodzeniu poza ekran */
    margin: 0 10px !important; /* Dodaj marginesy po bokach */
  }

  .faucetItem p {
    word-wrap: break-word; /* Złam długie słowa, aby nie wychodziły poza ekran */
    font-size: 14px; /* Zmniejsz rozmiar czcionki dla tekstu */
  }
}
