.nav {
    width: 100%;
    background-color: #1e1e1e;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    border-bottom-left-radius: 10px; /* Zaokrągl brzegi */
    border-bottom-right-radius: 10px; /* Zaokrągl brzegi */
  }
  
  .navContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    width: 100%;
    max-width: 1200px;
  }
  
  .navLeft {
    display: flex;
    align-items: center;
  }
  
  .hamburger {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    color: #ffffff;
    cursor: pointer;
  }
  
  .menu {
    display: flex;
  }
  
  .menuOpen {
    display: block;
  }
  
  .link {
    margin-right: 1rem;
    color: #ffffff;
    text-decoration: none;
    padding: 0.5rem 1rem; /* Dodaj padding */
    border-radius: 5px; /* Zaokrągl brzegi */
  }
  
  .navRight {
    display: flex;
    align-items: center;
  }
  
  @media (max-width: 768px) {
    .hamburger {
      display: block;
    }
    
    .menu {
      display: none;
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      width: 100%;
      background-color: #1e1e1e;
      padding: 1rem 0;
      border-bottom-left-radius: 10px; /* Zaokrągl brzegi */
      border-bottom-right-radius: 10px; /* Zaokrągl brzegi */
    }
    
    .link {
      margin: 0.5rem 0;
      text-align: center;
    }
  }
  